:root {
  --background-color-white: #ffffff;
  --background-color-grey: #2f303a;
  --text-color-blue: #2196f3;
  --text-color-black: #212121;
  --text-color-grey: #757575;
  --text-color-white: #ffffff;
   
  --text-color-white-op60: rgba(255, 255, 255, 0.6);
  --button-background-grey: #f5f4fa;
  --button-background-blue: #2196f3;
  --card-background: #EEEEEE;

}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
}

header {
  background-color: var(--background-color-white);
  border: 1px solid #ECECEC;
}

.title {
  background-color: var(--background-color-grey);
}
.order {
  background-color: var(--button-background-blue);
  margin-top: 30px;
  margin-bottom: 200px;

  border:1px solid var(--text-color-blue);
  color: var(--text-color-white); 
	padding: 10px 10px; 
  text-decoration: none;
  
  
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

 background:var(--button-background-blue);
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
}

.team {
  background-color: var(--button-background-grey);
  
}

footer {
  background-color: var(--background-color-grey);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;

  
}

.button {
  background-color: var(--button-background-grey);
 font-size: 16px;
 font-style: normal;
 font-weight: 500;
 line-height: 1.6;
 text-align: center;
 color: var(--text-color-black);
 border-radius: 4px;
 padding: 6px 22px;
 
 text-align: center;
 border: 1px solid transparent;
 margin-right: 8px;

 

}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  Font style: Bold;
  font-size: 26px;
  Line height: 1.2;
  margin-top: 24px;
  margin-bottom: 0px;
 
}
.top{
    color: var(--text-color-black);
}
.bottom{
    color: var(--text-color-white);
}

h1{
 font-family: Roboto;
 font-weight: 900;
 font-style: normal;
 line-height: 1.4;
 text-align: center;
 color: var(--text-color-white);
 padding-top: 200px;
 margin-top: 0px;

}
.order{
 font-size: 16px;
 font-style: normal;
 font-weight: 700;
 line-height: 1.9;
 text-align: center;
}
.advantages{
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.2;
text-align: left;
}
.advantages-explanation{
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 1.7;
 text-align: left;
 color: var(--text-color-grey);

 width: 270px;
 padding-right: 30px;
}
.advantages-explanation:last-child{
  padding-right: 30px;
}
.secondary-header{
 font-size: 36px;
 font-style: normal;
 font-weight: 700;
 line-height: 1.2;
 text-align: center;

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;

}
.staff{
 font-size: 16px;
 font-style: normal;
 font-weight: 500;
 line-height: 1.2;
 text-align: center;

}
.jobs{
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.2;
text-align: center;
color: var(--text-color-grey);
}
.adress{
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 1.7;
 text-align: left;
 color: var(--text-color-white);

 margin-top: 0px;
 margin-bottom: 0px;
 padding-top: 20px;
 padding-bottom: 9px;
 
}
.contacts{
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 1.7;
 text-align: left;
 color: var(--text-color-white-op60);
}
.portfolio-title{
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 2;
text-align: left;
color: var(--text-color-black);

margin: 0;
padding: 20px 24px 4px;

}

.portfolio-name{
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.blue{
    color: var(--text-color-blue);
}
.studio-bottom{
    color: var(--text-color-white);
}
.link-current.current{
    color: var(--text-color-grey);
}
.current .link-current{
    color: var(--text-color-black);
}
.link-current:hover{
    color: var(--text-color-blue);
}
.application:focus{
 color: var(--text-color-black);
}
.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;

}

li{
   list-style-type: none;
   padding: 0px;
   margin: 0px;

}
.button:hover{
 background-color: var(--button-background-blue);
 color: var(--text-color-white);
}

.hero-container{
  
  height: 600px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: var(--background-color-grey);
  text-align: center;
}
.buisness-hero-container{
  margin-bottom: 30px;
  color: var(--text-color-white);
  text-transform: uppercase;
  
}
.advantages {
  padding-top: 94px;
  padding-bottom: 10px;
}
.our-advantages{
  display: flex;
  justify-content: center;
  text-align: center;
}
.link-current{
  margin-right: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
  text-decoration: none;
}
.current{
  display: flex;
  margin-left: 93px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 0px;
  
}
.five-hudred{
 
 Font style: Medium;
 font-weight: 500;
 Font size: 16px;
 Line height: 1.6;
 display: flex;
 margin-top: 32 px;
 
}
.apple {
 display: flex;
  margin-left: 93px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 0px;
  color: var(--text-color-grey);
}
.link-current:not(:last-child) {
  margin-right: 0px;
}
.service {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
  padding-left: auto;
  padding-right: auto;

}

address{
  margin-left: 215px;

}
.logo-bottom .logo{
  margin-left: 215px;
}
ul{
  padding: 0px;
  margin-bottom: 0;
  margin-top: 0;
  
}
.team-photo{
  display:flex;
  justify-content: center;
  padding-bottom: 94px;
  padding-top: 50px;
  

}
.shadow{
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
 border-radius: 0px 0px 4px 4px;
 background-color: var(--background-color-white);
 margin-right: 30px;
 
}
.shadow:last-child{
  margin-right: 0;
}

h2 {

}
h4{
  margin-top: 0;
  margin-bottom: 0;
  }
.jobs-photo{
  display:flex;
  justify-content: center;
  padding-bottom: 94px;
  padding-top: 50px;
}
.jobs-picture{
  margin-right: 30px;
}
.logo-bottom{
  padding-top: 30px;
  padding-bottom: 30px;
}
.p{
  margin-top: 0;
  margin-bottom: 0;
}
.logo-top p {
  margin-top:24px;
}
.application{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 margin-right: -30px;
 margin-bottom: -30px;
 padding-bottom: 94px;
 width: 1600px;
  
}
.application-item{
 flex-basis: calc(100% / 3 -20px);
 margin-right: 30px;
 margin-bottom: 30px;

 background: var(--text-color-white);
 border: 1px solid #EEEEEE;
}
